comet-ml>=3.22.0
h5py==3.7.0
nibabel==5.2.*
tqdm==4.64.1

dwi-ml @ git+https://github.com/scil-vital/dwi_ml@2509a8ceb66c42ccdcc118cfca7c933b42ae0e0e
# scilpy @ git+https://github.com/scilus/scilpy@d20d3d4917d40f698aa975f64a575dda34e0c89c#egg=scilpy
