comet-ml==3.21.0
h5py==3.7.0
nibabel==4.0.2
tqdm==4.64.1

dwi-ml @ git+https://github.com/scil-vital/dwi_ml@b7ac03a5b4f2cab77bbcf000a763afa133786b04
scilpy @ git+https://github.com/scilus/scilpy@1.5.0
