apipkg
appdirs
attrs
autopep8
backcall
bids-validator
certifi
chardet
comet-git-pure
comet-ml
configobj
coverage
cycler
Cython
decorator
dipy
docopt
git+https://github.com/scil-vital/dwi_ml#egg=dwi_ml
entrypoints
everett
execnet
flake8
fury
future
h5py
idna
imagecodecs
imageio
importlib-metadata
ipython
ipython-genutils
jedi
joblib
jsonpatch
jsonpointer
jsonschema
kiwisolver
llvmlite
matplotlib
mccabe
more-itertools
netifaces
networkx
nibabel
noise
num2words
numba
numpy
nvidia-ml-py3
packaging
pandas
parso
patsy
pep8
pexpect
pickleshare
Pillow
pluggy
pooch
prompt-toolkit
ptyprocess
py
pybids
pycodestyle
pydot
pyflakes
pygame
Pygments
pyparsing
pyrsistent
pytest
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
requests
scikit-image
scikit-learn
scipy
git+https://github.com/scilus/scilpy@1.3.0#egg=scilpy
six
SQLAlchemy
tbb
threadpoolctl
tifffile
torch==1.9.0
torchaudio==0.9.0
torchfile==0.1.0
torchsummary==1.5.1
torchvision==0.10.0
tornado
tqdm
traitlets
typing-extensions
umap-learn
urllib3
vtk
wcwidth
websocket-client
wurlitzer
zipp
